{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ projects.title }}
  </h2>

  {% if projects.intro %}
  <div class="intro">
      <p>
        {{ projects.intro }} <a href="https://cvetelinstoimenov.github.io/blog" target="_blank">visit my blog</a>.
      </p>
  </div><!--//intro-->
  {% endif %}

  {% for project in projects.assignments %}
    <div class="item">

      <h3 class="project-title">
        {% if project.link %}
        <a href="{{ project.link }}" target="_blank">{{ project.title }}</a>
        {% else %}
        {{ project.title }}
        {% endif %}
      </h3>

      <p><strong>Date:</strong> {{ project.date }}</p>
      
      <p><strong>Summary:</strong> {{ project.summary }}</p>

      {% if project.key_features %}
      <div class="project-key-features">
        <strong>Key Features:</strong>
        <ul>
          {% for feature in project.key_features %}
            <li>{{ feature }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <p><strong>Outcome:</strong> {{ project.outcome }}</p>

      {% if project.technologies_tools %}
      <div class="project-technologies">
        <strong>Technologies & Tools:</strong> {{ project.technologies_tools | join: ", " }}
      </div>
      {% endif %}

      {% if project.achievements %}
      <div class="project-achievements">
        <strong>Key Achievements:</strong> 
        <ul>
          {% for achievement in project.achievements %}
            <li>{{ achievement }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
