{% assign skills = site.data.data.skills %}

{% if skills %}
  <section class="section skills-section">
    <h2 class="section-title">
      <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
      </span>
      {{ skills.title }}
    </h2>

    <!-- Soft Skills -->
    <div class="skills-category">
      <h5>SOFT SKILLS</h5>
      <ul>
        {% for skill in skills.soft_skills %}
          <li>{{ skill.name }}</li>
        {% endfor %}
      </ul>
    </div>

    <!-- Programming Languages -->
    <div class="skills-category">
      <h5>Programming Languages</h5>
      <ul>
        {% for language in skills.programming_languages %}
          <li>{{ language.name }} {% if language.level != 'N/A' %} ({{ language.level }}) {% endif %}</li>
        {% endfor %}
      </ul>
    </div>

    <!-- Frameworks -->
    <div class="skills-category">
      <h5>Frameworks</h5>
      <ul>
        {% for framework in skills.frameworks %}
          <li>{{ framework.name }} {% if framework.level != 'N/A' %} ({{ framework.level }}) {% endif %}</li>
        {% endfor %}
      </ul>
    </div>

    <!-- Databases -->
    <div class="skills-category">
      <h5>Databases</h5>
      <ul>
        {% for database in skills.databases %}
          <li>{{ database.name }} {% if database.level != 'N/A' %} ({{ database.level }}) {% endif %}</li>
        {% endfor %}
      </ul>
    </div>

    <!-- Tools -->
    <div class="skills-category">
      <h5>Tools</h5>
      <ul>
        {% for tool in skills.tools %}
          <li>{{ tool.name }} {% if tool.level != 'N/A' %} ({{ tool.level }}) {% endif %}</li>
        {% endfor %}
      </ul>
    </div>

  </section><!--//skills-section-->
{% endif %}
