{% assign skills = site.data.data.skills %}

{% if skills %}
  {% if site.data.data.sidebar.skills %}
    <div class="skills-container container-block">
      <h2 class="container-block-title">{{ skills.title }}</h2>

      <div class="skill-category">
        <h3>SOFT SKILLS</h3>
        <p>Fast learner, Adaptability, Problem solving, Creativity, Teamwork, Analytical Thinking</p>
      </div>

      <div class="skill-category">
        <h3>PROGRAMMING LANGUAGES</h3>
        <p>C#, JavaScript, HTML, CSS, XML</p>
      </div>

      <div class="skill-category">
        <h3>FRAMEWORKS</h3>
        <p>.NET, ASP.NET Core, EF Core</p>
      </div>

      <div class="skill-category">
        <h3>DATABASES</h3>
        <p>MySQL, Microsoft SQL Server, MongoDB</p>
      </div>

      <div class="skill-category">
        <h3>TOOLS</h3>
        <p>Visual Studio, Visual Studio Code, SSMS, TestRail, Jira, Postman, Selenium, Appium, Playwright</p>
      </div>

    </div><!--//skills-container-->

  {% else %}
    <section class="section skills-section">
      <h2 class="section-title">
        <span class="fa-stack fa-xs">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
        </span>
        {{ skills.title }}
      </h2>

      <div class="skill-category">
        <h3>SOFT SKILLS</h3>
        <p>Fast learner, Adaptability, Problem solving, Creativity, Teamwork, Analytical Thinking</p>
      </div>

      <div class="skill-category">
        <h3>PROGRAMMING LANGUAGES</h3>
        <p>C#, JavaScript, HTML, CSS, XML</p>
      </div>

      <div class="skill-category">
        <h3>FRAMEWORKS</h3>
        <p>.NET, ASP.NET Core, EF Core</p>
      </div>

      <div class="skill-category">
        <h3>DATABASES</h3>
        <p>MySQL, Microsoft SQL Server, MongoDB</p>
      </div>

      <div class="skill-category">
        <h3>TOOLS</h3>
        <p>Visual Studio, Visual Studio Code, SSMS, TestRail, Jira, Postman, Selenium, Appium, Playwright</p>
      </div>

    </section><!--//skills-section-->
  {% endif %}
{% endif %}
