.skills-section {
  margin-bottom: 60px; // Consistent section spacing
  padding-left: 30px; // Add padding to the left side of the entire section
}

.section-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: darken($theme-color, 15%);
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
}

.skills-list {
  list-style: none; // Remove default bullet points
  padding-left: 0; // Remove padding from list
  margin: 0;

  li {
    font-size: 14px; // Match font size with other list elements
    margin-bottom: 10px; // Consistent spacing between items
    color: $text-color-secondary; // Match text color

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.skillset .level-bar {
  height: 12px;
  background: $smoky-white;
}

.skillset .level-bar-inner {
  height: 12px;
  background: lighten($theme-color, 15%);
}
