.skills-section {
  margin: 20px 0;
}

.skills-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills-column {
  width: 10%; /* Adjust to create 2 columns */
  margin-bottom: 20px;
}

.skills-column h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}

.skills-column ul {
  list-style-type: none;
  padding-left: 0.2;
}

.skills-column ul li {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}

@media screen and (max-width: 768px) {
  .skills-column {
    width: 100%; /* Stack columns on smaller screens */
  }
}
